{% extends "base.html" %}

{% block titolo %}
Dettaglio Performance
{% endblock %}

{% block contenuto %}

<h2 class="mb-4">Dettaglio Performance</h2>
<div class="container my-4 rounded-3 bg2">
    <h5 class="mb-4">Ecco nel dettaglio la Performance con le eventuali immagini promozionali.</h5>

    <div class="row">
        <!-- Colonna sinistra: carosello -->

        <div class="col-lg-6 mb-4">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ url_for('static', filename=performance['img_artista'] )}}"
                            class="d-block w-100 carousel-image" alt="Immagine performance">
                    </div>

                    {% if immagini %}
                    {% for url in immagini %}
                    <div class="carousel-item">
                        <img src="{{ url }}" class="d-block w-100 carousel-image" alt="Immagine performance">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- Controlli manuali solo se ci sono più di un'immagine -->
                {% if immagini|length > 0 %}
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Precedente</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Successiva</span>
                </button>
                {% endif %}
            </div>
        </div>

        <!-- Colonna destra: informazioni -->
        <div class="col-lg-6">
            <img src="{{ url_for('static', filename=performance['img_artista']) }}" alt="Foto artista"
                class="img-fluid rounded mb-3 artist-img">
            <h2><strong>Artista:</strong> {{ performance['nome_artista'] }}</h2>
            <p><strong>Data:</strong> {{ performance['data'] }}</p>
            <p><strong>Ora:</strong> {{ performance['ora_inizio'] }} - {{ performance['ora_fine'] }}</p>
            <p><strong>Durata:</strong> {{ durata }} minuti</p>
            <p><strong>Genere:</strong> {{ performance['genere'] }}</p>
            <p><strong>Descrizione:</strong> {{ performance['descrizione'] }}</p>
            <p><strong>Palco:</strong> {{ performance['nome_palco'] }}</p>
        </div>
    </div>
</div>
{% endblock %}