{% extends "base.html" %}

{% block titolo %}About Us{% endblock %}

{% block contenuto %}
<h1>FAQs</h1>
<h2>Alcune delle domande più frequenti.</h2>
<ul>
  <li><strong>Come posso acquistare un biglietto?</strong> Vai nella sezione Biglietti dopo aver fatto login come partecipante</li>
  <li><strong>Quanti biglietti posso acquistare?</strong> Puoi acquistare un solo biglietto per edizione</li>
  <li><strong>C'è un limite massimo di biglietti'?</strong> Sì, il limite è l'acquisto di 200 biglietti per data.</li>
  <li><strong>Quando si terrà il festival?</strong> Dal 28 al 30 Giugno.</li>
  
 
  

  ...
</ul>

{% endblock %}